<!-- About Me Section -->
<section class="about-cv-page" id="about-cv-page" data-anchor="about">
  <div class="container">
    <div class="row heading-row">
      <h1 class="page-heading">ABOUT ME</h1>
      <a class="section-icon">
        <img class="section-icon-img" src="../../assets/img/icon/about-me-main-img.svg" alt="about-me-icon" width="45">
      </a>
    </div>
    <div class="row content-row">
      <div class="content-left">
        <p>Hi, my name is Marko Štalmatović! I am a Web developer and designer based in Belgrade, Serbia. Have several
          years of experience in various spheres of design and programming. </p>
        <br>
        <p class="uppercase">Besides working as a graphic designer in a variety of companies and as freelance, during my
          studies, I also got interested in web design. Ever since I was a child, I was keen on new technologies, and
          over time my desire for learning to program grew. Knowing HTML & CSS, as well as Basic Javascript / jQuery, I
          took a step further. I enrolled Master studies at the Information Technology Chair at Singidunum University.
          In the meantime, I have been admitted to a course where I have learned a lot about web programming in various
          programming language and Drupal CMS. At the moment I am doing PhD studies on Intelligent Systems at the
          University of Belgrade.</p>
      </div>
      <div class="content-right">
        <img class="img-fluid" id="profile-img" src="../../assets/img/about-me-me.png" alt="profile-img">
        <img class="img-fluid avatar" id="profile-img-small" src="../../assets/img/about-me-me-small.png"
          alt="profile-small-img">
      </div>
    </div>
    <!-- Software and Programming skill section -->
    <div class="first-cv">
      <div class="cv cv-content-left" id="software-skill">
        <h3>Software - Programming Skill</h3>
        <ul>
          <li>Adobe Photoshop
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Adobe Illustrator
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>HTML5 & CSS3
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Javascript
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Typescript
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Python
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>PHP
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
          </li>
          <li>JAVA
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
          </li>
        </ul>
        <div class="other">
          <h3>Other Stuff</h3>
          <p>MySQL, AJAX, NPM, Git, CLI, Jira, Jupyter Notebook
            NumPy, Pandas, Matplotlib, Seaborn, SciKit Learn</p>
        </div>
      </div>
      <!-- Libraries and Frameworks section -->
      <div class="cv cv-content-right" id="libraries">
        <h3>Libraries and Frameworks</h3>
        <ul>
          <li>jQuery
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Bootstrap
            <span
              class="null"></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
          </li>
          <li>Less / Sass
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>AngularJS
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>Angular 2+
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>NodeJS
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
          </li>
          <li style="visibility: hidden;">VueJS
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span class="null"></span>
            <span></span>
          </li>
          <li class="desktop-aligner" style="visibility: hidden;margin-bottom: 10px;">
            <span></span>
          </li>
          <li class="desktop-aligner" style="visibility: hidden;margin-bottom: 10px;">
            <span></span>
          </li>
        </ul>
        <div class="other">
          <h3>Also I know something about</h3>
          <p>Flask, WordPress, Drupal, Linux - Fedora<br>Machine Learning, WHMCS, TCP/IP</p>
        </div>
      </div>
    </div>
    <!-- Education section -->
    <div class="content-row second-cv">
      <div class="cv-content-left">
        <div class="cv" id="education">
          <div class="cv-heading">
            <img class="img-fluid" src="../../assets/img/icon/about-me-education-main.svg" alt="education">
            <h3 id="education-heading">Education</h3>
          </div>
          <div class="cv-content">
            <ul class="education-list">
              <li>
                <span class="circle"></span>
                <span class="faculty">University Union, Belgrade <span>(2005 - 2009)</span></span>
                <ul>
                  <li class="degree-type">Bachelor Degree:</li>
                  <li class="degree">GRAPHIC DESIGN</li>
                </ul>
              </li>
              <li>
                <span class="circle"></span>
                <span class="faculty">University Singidunum, Belgrade <span>(2014 - 2015)</span></span>
                <ul>
                  <li class="degree-type">Master Degree:</li>
                  <li class="degree">INFORMATION TECHNOLOGY</li>
                </ul>
              </li>
              <li>
                <span class="circle"></span>
                <span class="faculty">University of Belgrade, Belgrade <span>(2017 - )</span></span>
                <ul>
                  <li class="degree-type">PhD Degree:</li>
                  <li class="degree">INTELLIGENT SYSTEMS</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- Awards section -->
        <div class="cv" id="awards">
          <div class="cv-heading">
            <img class="img-fluid" src="../../assets/img/icon/about-me-awards-main.svg" alt="awards">
            <h3 id="awards-heading">Awards</h3>
          </div>
          <div class="cv-content">
            <ul class="awards-list">
              <li>
                <span class="circle"></span>
                <span class="event-name">PDP CONVENTION 2009 <span>Novi Sad</span></span>
                <ul>
                  <li class="award-type">Photography competition</li>
                </ul>
              </li>
              <li>
                <span class="circle"></span>
               <span class="event-name">BELGRADE DESIGN WEEK 2009<span></span></span>
                <ul>
                  <li class="award-type">Talent park</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Experience section -->
      <div class="cv cv-content-right" id="experience">
        <div class="cv-heading">
          <img class="img-fluid" src="../../assets/img/icon/about-me-work-experience-main.svg" alt="work experience">
          <h3 id="experience-heading">Work Experience</h3>
        </div>
        <div class="cv-content">
          <ul class="experience-list">
            <li>
              <span class="circle"></span>
              <span class="company">QODE THEMES</span>
              <ul class="job-info">
                <li class="job-position">Support Consultant</li>
                <li class="job-duration">June 2018 - February 2019</li>
              </ul>
            </li>
            <li>
              <span class="circle"></span>
              <span class="company">NETOPS LTD</span>
              <ul class="job-info">
                <li class="job-position">Web Design & Development</li>
                <li class="job-duration">March 2017 - June 2018</li>
              </ul>
            </li>
            <li>
                <span class="circle"></span>
                <span class="company">PIONIRI MEDIA </span>
              <ul class="job-info">
                <li class="job-position">Web Developer</li>
                <li class="job-duration">November 2016 - March 2017</li>
              </ul>
            </li>
            <li>
                <span class="circle"></span> 
                <span class="company">ESENCA SOFTWARE</span>
              <ul class="job-info">
                <li class="job-position">Graphic & Web Designer</li>
                <li class="job-duration">January 2016 - November 2016</li>
              </ul>
            </li>
            <li>
                <span class="circle"></span>
                <span class="company">WIND COMMUNICATION</span>
              <ul class="job-info">
                <li class="job-position">Graphic Designer</li>
                <li class="job-duration">July 2014 - November 2015</li>
              </ul>
            </li>
            <li><span class="circle"></span>
                <span class="company">ELITE PRINT / RASTER STUDIO</span>
              <ul class="job-info">
                <li class="job-position">Junior Graphic Designer</li>
                <li class="job-duration">March 2011 - June 2014</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Language section -->
    <div class="third-cv">
      <div class="cv cv-content-left">
        <div class="cv-heading">
          <img class="img-fluid" src="../../assets/img/icon/about-me-language-main.svg" alt="speek language">
          <h3>Language</h3>
        </div>
        <div class="cv-content">
          <ul>
            <li>
              <span class="language-bar">Serbian</span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </li>
            <li>
              <span class="language-bar">English</span>
              <span class="null"></span>
              <span class="null"></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </li>
            <li>
              <span class="language-bar">German</span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span></span>
            </li>
            <li>
              <span class="language-bar">Russian</span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span class="null"></span>
              <span></span>
            </li>
          </ul>
        </div>
      </div>
      <!-- Contact section -->
      <div class="cv cv-content-right">
        <div class="cv-heading">
          <img class="img-fluid" src="../../assets/img/icon/error-about-me-main-img.svg" alt="contact">
          <h3>Contact</h3>
        </div>
        <div class="cv-content">
          <ul>
            <li><img src="../../assets/img/icon/about-me-contact-location-main.svg" alt="location">Belgrade, Serbia</li>
            <li><img src="../../assets/img/icon/about-me-contact-email-main.svg"
                alt="email address">mstalmatovic@gmail.com</li>
            <li><img src="../../assets/img/icon/about-me-contact-phone-main.svg" alt="phone number">+381 (60) 060 20 40
            </li>
            <li><img src="../../assets/img/icon/about-me-contact-skype-main.svg" alt="skype">marko.stalma</li>
            <li><img src="../../assets/img/icon/about-me-contact-website-main.svg" alt="website">markostalma.ninja</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Interest section -->
    <div class="last-cv">
      <div class="cv">
        <div class="cv-content-left">
          <h4>INTEREST</h4>
        </div>
        <div class="cv-content-right">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-coding.svg" alt="coding interest">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-motocycle.svg" alt="motocycle interest">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-kickboxing.svg"
            alt="kickboxing interest">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-football.svg" alt="football interest">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-reading.svg" alt="reading interest">
          <img class="img-fluid" src="../../assets/img/icon/about-me-interests-travel.svg" alt="travel interest">
        </div>
      </div>
    </div>
    <div class="scroll-down-btn">
      <div class="circle-down-btn">
        <span></span>
      </div>
    </div>
    <div class="download-button-row">
      <a href="../../assets/cv/Marko_Stalmatovic_CV_english.pdf" target="_blank" class="btn" id="download-cv">DOWNLOAD
        CV</a>
    </div>
    <!-- Footer -->
    <div class="copyright">
      <p>Make it with <span>️️♥️</span></p>
      <div class="info"> &#8505; <span class="tooltip">If you see some <img class="bug-icon"
            src="../../assets/img/icon/bug.svg" alt="bug icon"> please contact me!</span></div>
    </div>
  </div>
</section>
