    <!-- Process Section -->
    <section class="process-detailed-page" id="process-detailed-page">
      <div class="container">
          <div class="row heading-row">
              <h1 class="page-heading">WORK PROCESS</h1>
              <a class="section-icon">
                  <img class="section-icon-img" src="../../assets/img/icon/process-main-img.svg" alt="about-me-icon" width="45">
              </a>
          </div>
          <div class="row precontent-row">
              <p>Each part of the process is essentially relevant so that nothing is left to the case and doesn't skip anything. For this kind of process, needed more time to produce, but a higher quality product is obtained. The length and specificity of each production process depends on the project type.</p>
          </div>
          <div class="row">
            <h4 class="page-heading" style="text-align: center;">PROCESS PAGE IS IN PROGRESS, PLEASE CHECK IT AGAIN LATER</h4>
          </div>
          <div class="copyright">
            <p>Make it with <span>️️♥️</span></p>
            <div class="info"> &#8505; <span class="tooltip">If you see some <img class="bug-icon" src="../../assets/img/icon/bug.svg" alt="bug icon"> please contact me!</span></div>
          </div>
      </div>
  </section>