section.process-detailed-page {
    background: #450468;
    color: #11dae2;
    min-height: 100vh;
}

section.process-detailed-page .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 20px 80px 20px;
}

/* Process Main Content START */
section.process-detailed-page .container .process-content{
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 135px auto;
}

section.process-detailed-page .container .process-content .row{
  margin-bottom: 65px;
  align-items: center;
}

section.process-detailed-page .container .process-content .left-part{
  order: 1;
}

section.process-detailed-page .container .process-content .right-part{
  order: 2;
}

section.process-detailed-page .container .process-content .process-txt{
  flex-basis: 48%;
  margin: 0 10px;
  text-align: justify;
  line-height: 1.4;
}

section.process-detailed-page .container .process-content .process-img{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  height: 160px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #ff6100;
  background-color: transparent;
  -webkit-transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

section.process-detailed-page .container .process-content #process-five .process-img{
  flex-direction: row;
}

section.process-detailed-page .container .process-content .process-img.left-part{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

section.process-detailed-page .container .process-content .process-img.right-part{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

section.process-detailed-page .container .process-content .process-img:hover{
  border-radius: 10px;
  background-color: #5d0d88bd;
}

section.process-detailed-page .container .process-content #process-five .process-img:hover span{
  border-top-left-radius: 6px;
}

section.process-detailed-page .container .process-content .process-img span{
  position: absolute;
  top: 10px;
  font-size: 20px;
  color: #ff6100;
}

section.process-detailed-page .container .process-content .process-img.left-part span{
  right: 15px;
}

section.process-detailed-page .container .process-content .process-img.right-part span{
  left: 15px;
}

section.process-detailed-page .container .process-content #process-five .process-img span{
  border: 2px solid #ff6100;
  padding: 2px 10px 6px 10px;
  left: 10px;
}

section.process-detailed-page .container .process-content .process-img img{
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

section.process-detailed-page .container .process-content #process-three .process-img img{
  width: 95px;
}

section.process-detailed-page .container .process-content #process-four .process-img img{
  width: 70px;
}

section.process-detailed-page .container .process-content .process-img h3{
  font-size: 22px;
  text-transform: uppercase;
}

/* Footer tooltip and Copyright */
section.process-detailed-page .copyright p {
  color: #11dae2;
}

.copyright .info {
  border: 1px solid #11dae2;
}

.copyright .tooltip {
  background-color: #450468;
  color: #ffffff;
}

.copyright .info:hover {
  background-color: #11dae2;
  color: #450468;
}

/* Extra Large devices (1200px and down) */
@media (max-width: 1200px) {}

/* Large devices (992px and down) */
@media (max-width: 992px) {}

/* Medium devices (768px and down) */
@media (max-width: 768px) {
    section.process-detailed-page .container {
        padding: 60px 0px 60px 0px;
    }
}

/* Small devices (576px and down) */
@media (max-width: 576px) {
}
