    <!-- Process Section -->
    <section class="process-detailed-page" id="process-detailed-page">
      <div class="container">
          <div class="row heading-row">
              <h1 class="page-heading">WORK PROCESS</h1>
              <a class="section-icon">
                  <img class="section-icon-img" src="../../assets/img/icon/process-main-img.svg" alt="about-me-icon" width="45">
              </a>
          </div>
          <div class="row precontent-row">
              <p>Each part of the process is essentially relevant so that nothing is left to the case and doesn't skip anything. For this kind of process, needed more time to produce, but a higher quality product is obtained. The length and specificity of each production process depends on the project type.</p>
          </div>
          <!-- Process Main Content START -->
          <div class="process-content">
            <div class="row" id="process-one">
              <div class="process-txt left-part">
                <p>Each project begins with identifying client's needs and goals. At this step, client and I explore different possibilities and try to come up with the best solution to fit their needs. The most important thing in this phase is to make a guideline for upcoming steps.</p>
              </div>
              <div class="process-img right-part">
                <span>1</span>
                <img src="../../assets/img/icon/process-main-discuss-research.svg" alt="discuss and research">
                <h3>Discuss & Research</h3>
              </div>
            </div>
            <div class="row" id="process-two">
              <div class="process-txt right-part">
                <p>The design process begins with sketching ideas. It is a great way to visualize design concepts before producing a complete, detailed work. Sometimes it is necessary to make more than one solution, so the client could choose the one that will be further developed.</p>
              </div>
              <div class="process-img left-part">
                <span>2</span>
                <img src="../../assets/img/icon/process-main-design.svg" alt="design">
                <h3>Design</h3>
              </div>
            </div>
            <div class="row" id="process-three">
              <div class="process-txt left-part">
                <p>After the design is completed, the design elements can be implemented in the code. At this stage integration of all necessary functionalities is also done. First all graphic elements (icons, photos, type of letters, color and size) are prepared and extracted from the chosen graphic solutions, and then they are being integrated in the code one by one.</p>
              </div>
              <div class="process-img right-part">
                <span>3</span>
                <img src="../../assets/img/icon/process-main-development.svg" alt="development">
                <h3>Development</h3>
              </div>
            </div>
            <div class="row" id="process-four">
              <div class="process-txt right-part">
                <p>When it comes to testing, the most important thing is to test the final product in the way the actual users would use it. This needs to be done in order to check if there are any bugs and to fix them before the product is released. The results of the tests serve as the proof of overall quality and functionality of the product. After testing, it will be clear what elements need to be improved.</p>
              </div>
              <div class="process-img left-part">
                <span>4</span>
                <img src="../../assets/img/icon/process-main-test-iterate.svg" alt="test & iterate">
                <h3>Test & Iterate</h3>
              </div>
            </div>
            <div class="row" id="process-five">
              <div class="process-txt left-part">
                <p>After completion of the first phase of the process, the client will be informed when the product will be finished. Please keep in mind that the time of delivery depends on the customer requirements and the complexity of the task. After test phase, the Beta version of the product will be delivered to the client to test it. I appreciate the trust my clients put in me, that is why I always respect the deadlines.</p>
              </div>
              <div class="process-img right-part">
                <span>5</span>
                <img src="../../assets/img/icon/process-main-deliver.svg" alt="deliver">
                <h3>Deliver</h3>
              </div>
            </div>
          </div>
          <!-- Process Main Content END -->
          <div class="copyright">
            <p>Make it with <span>️️♥️</span></p>
            <div class="info"> &#8505; <span class="tooltip">If you see some <img class="bug-icon" src="../../assets/img/icon/bug.svg" alt="bug icon"> please contact me!</span></div>
          </div>
      </div>
  </section>
