/* Work Single Page */

section.single-work {
    background: #450468;
    color: #11dae2;
    min-height: auto;
}

section.single-work .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 20px 80px 20px;
}

section.single-work .container .work-single {
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    color: #ffffff;
    padding: 25px 35px 20px 35px;
    box-sizing: border-box;
    margin-bottom: 25px;
    background-color: rgba(0, 220, 220, 0.5);
}

section.single-work .container .work-single .work-header {
    flex-basis: 60%;
    flex-direction: column;
    justify-content: space-between;
}

section.single-work .container .work-single .work-tags{
    opacity: 0.6;
    font-size: 12px;
    margin: 30px 0 5px 0;
}

section.single-work .container .work-single .work-img {
    flex-basis: 40%;
    text-align: right;
}

section.single-work .container .work-single .preview-single{
    margin-left: 0;
    margin-right: 0;
}

section.single-work .container .work-single .work-img img.work-preview-img {
    margin: 0 auto;
    max-width: 350px;
    height: auto;
}

section.single-work .container .txt-single {
    margin: 50px 0;
}

/* Next/Prev/Back Arrow */
section.single-work .container .next-prev {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

section.single-work .container .back{
    display: flex;
    width: 100%;
    margin: 25px 0;
    font-size: 14px;
    justify-content: center;
}
section.single-work .container  .back a.back-btn{
    margin-bottom: 40px;
}

section.single-work .container  .back a.back-btn,
section.single-work .container .next-prev a {
    font-size: 14px;
    color: #11dae2;
    transition: all .3s ease-out;
}

section.single-work .container .next-prev a:hover,
section.single-work .container  .back a.back-btn:hover{
    cursor: pointer;
    color: #ffffff;
}

section.single-work .container .next-prev a p.arrow.next {
    margin-left: auto;
}

section.single-work .container .next-prev a .arrow i {
    border-color: #11dae2;
}

/* Slick Carousel  */
.slick-slider {
    width: 100%;
    margin: auto;
}

/* Footer tooltip and Copyright */
.copyright .info {
  border: 1px solid #11dae2;
}

.copyright .tooltip {
  background-color: #450468;
  color: #ffffff;
}

.copyright .info:hover {
  background-color: #11dae2;
  color: #450468;
}

/* Medium devices (992px and down) */
@media (max-width: 992px) {
  section.single-work .container .work-single .work-header,
  section.single-work .container .work-single .work-img{
      flex-basis: 100%;
      text-align: center;
      /* position: relative; */
  }
  section.single-work .container .work-single .work-tags{
    position: absolute;
    bottom: 5px;
  }
  section.single-work .container .work-single .work-img{
    margin: 25px 0;
  }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    section.single-work .container {
        padding: 60px 0px;
    }
    section.single-work .container .heading-row{
        margin-bottom: 10px;
    }
    section.single-work .container .heading-row .page-heading{
        font-size: 25px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    section.single-work .container .work-single {
      padding: 15px 25px;
    }
    section.single-work .container .work-single .work-txt{
        margin-top: 15px;
    }
    section.single-work .container .work-single .work-img{
        margin-top: 20px;
    }
    section.single-work .container .work-single .work-img img.work-preview-img{
        max-width: 100%;
    }
    section.single-work .container .txt-single {
        margin: 30px 0;
        text-align: justify;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  section.single-work .container .work-single {
    padding: 15px;
  }
  section.single-work .container .work-single .work-tags{
    margin-right: 20px;
  }
  section.single-work .container .work-single .work-img img.work-preview-img{
    margin: 10px auto;
  }
}


/* Extra Small devices (300px and down) */
@media (max-width: 300px) {
  section.single-work .container .next-prev a .arrow i{
    display: none;;
  }
}



