section.work-list-page {
    background: #450468;
    color: #11dae2;
    min-height: auto;
}

section.work-list-page .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 20px 80px 20px;
}

section.work-list-page .container .button-row {
    width: 100%;
}

section.work-list-page .container .filter{
    flex-basis: 100%;
    justify-content: center;
}

section.work-list-page .container .filter p{
    margin-bottom: 10px;
}

section.work-list-page .container .button-row #work-type-filter {
    width: 180px;
    border: 2px solid #11dae2;
    color: #11dae2;
    background-color: #450468;
}

section.work-list-page .container .button-row #work-type-filter:hover {
    font-weight: 400;
    color: #450468;
    background-color: #11dae2;
}

section.work-list-page .container .button-row #work-type-filter option {
    margin-top: 15px;
    color: #11dae2;
    background-color: #450468;
}

section.work-list-page .container a.single-work-link {
    flex-basis: 48.8%;
    text-decoration: none;
    overflow: hidden;
}

section.work-list-page .button-row #load-more {
    margin: 10px auto 50px auto;
    border-color: #11dae2;
    color: #11dae2;
}

section.work-list-page .button-row #load-more:hover {
    background-color: #11dae2;
    color: #450468;
}

/* Single Work Styles */
.work-preview-component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

a.single-work-link {
    flex-basis: 48.8%;
    text-decoration: none;
}

a.single-work-link:nth-child(even){
    margin-left: auto;
}

.work-preview {
    border: 2px solid transparent;
    color: #ffffff;
    padding: 25px 35px 0 35px;
    box-sizing: border-box;
    margin-bottom: 25px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all.4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    min-height: 400px;
}

.work-preview.graphic-design {
    background-color: rgba(0, 220, 220, 0.45);
}

.work-preview.web-design {
    background-color: rgba(165, 130, 180, 0.5);
    background-color: #5d0d88bd;
}

.work-preview.web-development {
    background-color: rgba(160, 30, 55, 0.3);
}

.work-preview.intelligent-system {
    background-color: rgba(220, 120, 0, 0.3);
}

.work-preview.photography {
    background-color: rgba(34, 130, 180, 0.5);
}

.work-preview:hover {
    background-color: rgba(0, 220, 220, 1);
    color: #450468;
}

.work-preview:hover img.work-preview-img {
  filter: drop-shadow(rgb(0, 0, 0) 0px 0px 10px);
}

.work-preview .work-header {
    text-align: left;
}

.work-preview .work-header .work-heading:before {
    border-bottom: 2px solid red;
    width: 20px;
    display: inline-block;
}

.work-preview .work-header .work-txt {
    text-transform: none;
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 1;
}

.work-preview .work-img {
    text-align: center;
    position: relative;
}

.work-preview .work-img img.work-preview-img {
    margin: 10px auto;
    max-width: 330px;
    height: auto;
    position: absolute;
    top: 45px;
    left: 15%;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all.25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

/* Footer tooltip and Copyright */
.copyright .info {
  border: 1px solid #11dae2;
}

.copyright .tooltip {
  background-color: #450468;
  color: #ffffff;
}

.copyright .info:hover {
  background-color: #11dae2;
  color: #450468;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    section.work-list-page .container {
        padding: 60px 0px;
    }
    .work-preview-component{
        width: 100%;
        justify-content: center;
    }
    section.work-list-page .container a.single-work-link{
        width: 100%;
        flex-basis: auto;
    }
    section.work-list-page .container a.single-work-link .work-preview{
        min-height: 300px;
        overflow: hidden;
    }
    section.work-list-page .container a.single-work-link .work-img .work-preview-img{
        max-width: 300px;
        position: unset;
        margin-top: 20px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

    section.work-list-page .container .button-row #work-type-filter{
        width: 100%;
        text-align-last: center;
    }

}
