<!-- About Me Section -->
<section class="first-screen-home" id="home-about" data-anchor="about">
  <div class="container">
      <div class="row heading-row">
          <h1 class="page-heading">ABOUT ME</h1>
          <a class="section-icon" [routerLink]="['/about-me/']">
              <img class="section-icon-img" src="../../../assets/img/icon/about-me-main-img.svg" alt="about-me-icon" width="45">
          </a>
      </div>
      <div class="row precontent-row">
          <p>Hi, my name is Marko Štalmatović! I am a Web developer and designer based in Belgrade, Serbia. Have several years of experience in various spheres of design and programming.</p>
      </div>
      <div class="row content-row">
          <div class="content-left">
              <p>Besides working as a graphic designer in a variety of companies and as freelance, during my studies, I also got interested in web design. Ever since I was a child, I was keen on new technologies, and over time my desire for learning to program grew. Knowing HTML & CSS, as well as Basic Javascript / jQuery, I took a step further. I enrolled Master studies at the Information Technology Chair at Singidunum University. In the meantime, I have been admitted to a course where I have learned a lot about web programming in various programming language and Drupal CMS. At the moment I am doing PhD studies on Intelligent Systems at the University of Belgrade.</p>
              <div class="button-row">
                  <a [routerLink]="['/about-me/']" class="btn" id="about-me-more">MORE ABOUT ME</a>
              </div>
          </div>
          <div class="content-right">
              <img class="img-fluid" loading="lazy" id="profile-img" src="../../assets/../../assets/img/about-me-me.png" alt="about-me-img">
              <img class="img-fluid avatar" loading="lazy" id="profile-img-small" src="../../assets/img/about-me-me-small.png" alt="about-me-small-img">
          </div>
      </div>
      <div class="scroll-down-btn">
          <div class="circle-down-btn">
              <span></span>
          </div>
      </div>
  </div>
</section>
