  <!-- Social menu on left side -->
  <div id="social-menu">
      <span>
          <a href="https://www.linkedin.com/in/markostalmatovic" target="_blank"><img class="section-icon-img" src="../../assets/img/icon/home-main-linkeding.svg" alt="about-me-icon" width="25"></a>
      </span>
      <span>
          <a href="https://github.com/markostalma" target="_blank"><img class="section-icon-img" src="../../assets/img/icon/home-main-github.svg" alt="about-me-icon" width="25"></a>
      </span>
      <span>
          <a href="https://stackoverflow.com/users/8053767/stalma" target="_blank"><img class="section-icon-img" src="../../assets/img/icon/home-main-stackoverflow.svg" alt="about-me-icon" width="25"></a>
      </span>
  </div>

  <!-- Navigation menu/slider -->
  <div id="navigation-menu">
      <a href="#home-about"><span class="first active"></span></a>
      <a href="#home-works"><span></span></a>
      <a href="#home-process"><span></span></a>
      <a href="#home-contact"><span class="last"></span></a>
  </div>

  <!-- Scroll Down Btn -->
  <div class="scroll-down-row">
    <a href="#home-works">      
      <div id="scroll-down-btn">
        <span></span>
    </div></a>
  </div>

<markostalma-about-home></markostalma-about-home>
<markostalma-work-home ></markostalma-work-home>
<markostalma-process-home ></markostalma-process-home>
<markostalma-contact-home ></markostalma-contact-home>