<!-- Process Section -->
<section class="third-screen-home" id="home-process" data-anchor="process">
  <div class="container">
      <div class="row heading-row">
          <h1 class="page-heading">PROCESS</h1>
          <a class="section-icon" [routerLink]="['/work-process/']">
              <img class="section-icon-img" src="../../assets/img/icon/process-main-img.svg" alt="work-process-icon" width="45">
          </a>
      </div>
      <div class="row precontent-row">
          <p>Each part of the process is essentially relevant so that nothing is left to the case and doesn't skip anything. For this kind of process, needed more time to produce, but a higher quality product is obtained. The length and specificity of each production process depends on the project type.</p>
      </div>
      <div class="process" id="process-one">
          <div class="row process-header">
              <img class="process-icon" src="../../assets/img/icon/process-main-discuss-research.svg" alt="Discuss and Research icon">
          </div>
          <div class="row process-content">
              <h4 class="process-heading">Discuss & Research</h4>
          </div>
          <div class="row process-number">
              <span class="process-no">1</span>
              <p class="arrow arrow-mobile"><i class="arrow-bottom"></i></p>
          </div>
      </div>
      <p class="arrow arrow-desktop"><i class="arrow-right"></i></p>
      <div class="process" id="process-two">
          <div class="row process-header">
              <img class="process-icon" src="../../assets/img/icon/process-main-design.svg" alt="Design icon">
          </div>
          <div class="row process-content">
              <h4 class="process-heading">Design</h4>
          </div>
          <div class="row process-number">
              <span class="process-no">2</span>
              <p class="arrow arrow-mobile"><i class="arrow-bottom"></i></p>
          </div>
      </div>
      <p class="arrow arrow-desktop"><i class="arrow-right"></i></p>
      <div class="process" id="process-three">
          <div class="row process-header">
              <img class="process-icon" src="../../assets/img/icon/process-main-development.svg" alt="Development icon">
          </div>
          <div class="row process-content">
              <h4 class="process-heading">Development</h4>
          </div>
          <div class="row process-number">
              <span class="process-no">3</span>
              <p class="arrow arrow-mobile"><i class="arrow-bottom"></i></p>
          </div>
      </div>
      <p class="arrow arrow-desktop"><i class="arrow-right"></i></p>
      <div class="process" id="process-four">
          <div class="row process-header">
              <img class="process-icon" src="../../assets/img/icon/process-main-test-iterate.svg" alt="Test and Iterate icon">
          </div>
          <div class="row process-content">
              <h4 class="process-heading">Test & Iterate</h4>
          </div>
          <div class="row process-number">
              <span class="process-no">4</span>
              <p class="arrow"><i class="arrow-bottom"></i></p>
          </div>
          <p class="arrow-iterate"><i class="arrow-top"></i></p>
          <p class="arrow-iterate"><i class="arrow-bottom"></i></p>
      </div>

      <div class="row last-row">
          <div class="button-row">
              <a [routerLink]="['/work-process/']" class="btn">MORE ABOUT WORK PROCESS</a>
          </div>
          <div class="last-process-row">
              <div class="process-number">
                  <span class="process-no">5</span>
              </div>
              <div class="process-content">
                  <h4 class="process-heading">Deliver</h4>
                  <img class="process-icon" src="../../assets/img/icon/process-main-deliver.svg" alt="Deliver icon">
              </div>
          </div>
      </div>
  </div>
</section>
